*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.footer{
	/* background-image: linear-gradient(to right top, #373B44,#4286f4);  */
	background: rgba(0, 0, 0, 0.14); 
	color: #f9f1e9;
}
.footer .left{
	flex: 2.5;
}
.footer .left img{
	width: 20rem;
}

.footer .center{
	flex: 5;
	width: 40%;
}

.footer .center h3{
	/* font-size: 2.5rem; */
}

.footer .right{
	flex: 2.5;
}

.footer .right .icons{
	color: #acacac;
}

.footer .right .icons img{
	opacity: 0.7;
}

.footer .right .icons img:hover{
	transform: scale(1.25);
	transition: all 0.5s ease;
	cursor: pointer;
	filter: grayscale(0%);
	opacity: 1;
}

@media only screen and (max-width : 768px) {
	*{
		margin: 0;
		padding: 0;
	}
	.demo-1 .main-title {
		font-size: 3em;
	}
	.footer .footerContainer{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.footer .left{
		align-items: center;
		margin-bottom: 5%;
	}
	.footer .right{
		margin-top: 5%;
	}
	.footer .center{
		width: 100%;
	}
	.footer .right .icons img{
		opacity: 0.7;
		width: 33px;
	}
}