html {
    scroll-behavior: smooth;
}

body {
    background: rgb(235, 239, 255);
    background: linear-gradient(90deg, rgba(235, 239, 255, 1) 0%, rgba(117, 225, 255, 1) 50%, rgba(218, 237, 255, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}

.main_heading {
    padding: 2rem;
    flex: 0 0 100%;
    text-align: center;
}

.title {

    font-family: 'Montserrat', bold;
    font-size: 3.2rem;
    letter-spacing: 1.8px;
    margin: 0;
}

.subtitle {
    font-family: 'Abril Fatface', medium;
    font-size: 1.1rem;
}

.mtt_grid {
    margin: 0 auto auto 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 5rem 5rem 5rem;
    ;
}

.card {

    -webkit-box-shadow: -1px 9px 18px -8px rgb(7, 7, 7);
    -moz-box-shadow: -2px 9px 18px -6px rgba(17, 17, 17, 1);
    box-shadow: -2px 9px 18px -8px rgba(17, 17, 17, 1);

}

.people {
    flex: 0 0 23%;
    min-width: 350px;
    height: 333px;
    margin: 50px 5px 0;
    background-color: rgba(229, 229, 229, 1);
    background-image: linear-gradient(109.6deg, rgb(81, 67, 67) 11.2%, rgb(77, 141, 236) 91.1%);
    position: relative;
    backface-visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;

}

.people__img {
    width: 100%;
    height: 22rem;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    object-position: center;
    transform-origin: center;
    transition: all 0.6s;
}

.people:hover .people__img {
    margin-top: 1.25rem;
    height: 13.125rem;
    width: 13.125rem;
    border-radius: 50%;
}

.people:nth-of-type(1) .people__img {
    object-position: top center;
    background-color: #fff;
}

.people__div--name {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    max-width: 300px;
    opacity: 0.8;
    line-height: 1;
    padding: 0.20rem 1.25rem;
    transition: all 0.6s;
    height: 2rem;
    font-size: 1.5rem;
}

.people:hover .people__div--name {
    left: -130%;
}

.people-name {
    font-family: 'Sans-serrif', thin;
    height: 2rem;
    padding: 0.25rem 1.25rem;
    font-size: 1.4rem;
    letter-spacing: 0.069rem;
    line-height: 1;
}

.people__div--info {
    position: absolute;
    bottom: 3%;
    height: 2.5rem;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(223, 216, 216, 0.8);
    ;
    transition: all 0.6s;
}

.people__div--info h2 {
    font-size: 1.20rem;
    padding: 1rem;
    line-height: 0.65;
}

.people:hover .people__div--info {
    opacity: 1;
    visibility: visible;
}

.people__name {
    margin: auto 0;
    letter-spacing: 0.069rem;
}

.people__desc {
    line-height: 1.5;
    margin: 0 0 1.25rem;
}


@media only screen and (max-width: 1200px) {
    .people {
        flex: 0 0 48%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding: 50px 20px;
    }

    .people {
        flex: 0 0 100%;
        min-width: unset;
        max-width: 400px;
        margin: 25px auto 0;
    }
}